body {
	background: lavender;
	margin: 0;
	font-family: sans-serif;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/*Styles for input and submit - Start*/
.input-details {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#user, #submit {
	padding: 10px;
	margin: 5px 20px;
	font-size: 20px;
}

#user {
	border : none;
	border-radius: 4px;
}

#submit {
	background: #111;
	color: #EEE;
	border: none;
	outline: none;
	border-radius: 4px;	
}
/*Styles for iput and submit - End*/

/*Styles for file listing - Start*/
#repos {
	margin: 40px 0 10px;
}

#file-list {
	border-radius: 5px;
	background: white;
	margin: 0 auto;
	width: 80%;
}

.show-code {
	padding: 30px 0 0 30px;
	overflow-x: scroll;
	overflow-y: scroll;
	height: calc(100vh - 160px);
	box-sizing: border-box;
}

.show-files {
	box-sizing: border-box;
	padding: 30px 5px;
}

.icon {
	height: 60px;
	width: 60px;
}

.list-name {
	text-align: center;
	padding: 10px;
}

.list-item {
	text-align: center;
	width: calc(100% / 5);
	margin-bottom: 50px;
}
/*Styles for file listing - End*/

/*Media Quries - Start*/

@media screen and (max-width: 950px) {

	#file-list {
		width: 100%;
		border-radius: 0;
	}

}

@media screen and (max-width: 800px) {

	.list-item {
		width: calc(100% / 4);
	}

}

@media screen and (max-width: 650px) {

	.list-item {
		width: calc(100% / 3);
	}

}

@media screen and (max-width: 450px) {

	.list-item {
		width: calc(100% / 2);
	}

	#user, #submit {
		margin: 5px;
	}

	#repos {
		margin: 20px 0;
	}

	#user, #submit {
		margin: 25px 0;
	}

	.input-details {
		margin: 10px;
	}

}

@media screen and (max-width: 370px) {

	#user{
		width: 65%;
	}

	.list-item {
		width: 100%;
	}

}	

/*Media Quries - End*/